html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    background-image: url("./assets/BG.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
